<%- include("partials/header") %>

<div class="container">
  <h1><%= camp.name %></h1>
  <img class="img-fluid" src="<%= camp.image %>" alt="" />
  <p><%= camp.description %></p>

  <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
    <button class="btn btn-warning">Delete Campground</button>
  </form>
</div>

<!-- <a href="/campgrounds">Campgrounds</a> -->

<%- include("partials/footer") %>
