<% layout('layouts/boilerplate') %>
<header class="hero is-dark is-bold mb-4">
  <section class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Campgrounds
      </h1>
      <p class="subtitle is-4">
        Here you can find your new vacation destiny
      </p>
      <hr />
      <p>Do you want to create a new Campground?</p>
      <a href="/campgrounds/new" class="button is-light is-medium"
        >New Campground</a
      >
    </div>
  </section>
</header>

<div class="level">
  <div class="container">
    <div class="columns is-multiline">
      <% camp.forEach((camp)=> {%>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="<%=camp.image %>" alt="<%=camp.name %>" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="title">
                <%= camp.name %>
              </h4>
              <p>
                <%= camp.description %>
              </p>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-content">
              <a
                href="/campgrounds/<%= camp._id %>"
                class="button is-small is-light"
              >
                <span class="icon">
                  <i class="far fa-plus-square"></i>
                </span>
                <span>More info</span>
              </a>
              <a
                href="/campgrounds/<%= camp._id %>/edit"
                class="button is-small is-light"
              >
                <span class="icon">
                  <i class="far fa-edit"></i>
                </span>
                <span>Editar</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
